  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap");

    body {
      background-color: #f8e9ed;
    }

    .navbar {
      background-color: #d2184e;
    }

    h1 {
    font-family: "Lilita One", cursive;
    font-size: 100px;
    color: #d2184e;
    text-shadow: 2px 2px 4px #f5c7d1;
    }

    h2, h3 {
      font-family: 'Karla', ExtraBold 800;
      font-size: 60px;
      color: #d2184e;
    }

    .jumbotron {
      background-color: #ffd7e5;
    }

    .card {
      background-color: #ffeff3;
    }

    .btn-primary {
      background-color: #d2184e;
      border-color: #d2184e;
    }

    .btn-primary:hover {
      background-color: #ad1444;
      border-color: #ad1444;
    }

    p {
      font-family: 'Karla', sans-serif;
      font-size: 30px;
    }
  </style>

  <nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'base:index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:post_list' %}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'registration:register' %}">Join</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'merch:shop' %}">Merch (MEMBER ACCESS ONLY)</a>
        </li>
      </ul>
    </div>
  </nav>