{% include 'navigation.html' %}
{% block content %}
  <h2>Register</h2>
  <p style="font-size: 35px;">Register with IT Solution and you can get a discount of our services.<p>
  <form method="POST">
    {% csrf_token %}
    <h5>username: <input type="text" name="username" placeholder="Username" required></h5><br/>
    <h5>password: <input type="password" name="password" placeholder="Password" required></h5><br/>
    <h5>firstname: <input type="text" name="first_name" placeholder="First Name" required></h5><br/>
    <button type="submit">Register</button>
  </form>
{% endblock %}